html {
	font-size: 62.5%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	color: #ef2913;
	color: #5caeef;
	color: #dfb976;
	color: #ff9900;
	color: #abb2c0;
	color: #ebcb8b;
}
